<!-- seo/opengraph.html -->
<meta property="fb:app_id" content="1722685791394766" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="Loyall" />
<meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@loyallch">
<meta name="twitter:creator" content="@loyallch">
<meta name="twitter:title" content="{{ (htmlUnescape .Title) | plainify }}">



{{- if eq .Layout "article" }}

<meta property="og:type" content="article" />
<meta property="og:image" content="{{ .Site.Params.labImageURL}}{{ .Params.coverImage.url }}" />
<meta property="og:image:secure_url" content="{{ .Site.Params.labImageURL}}{{ .Params.coverImage.url }}" />
<meta property="og:image:width" content="{{ .Params.coverImage.width }}" />
<meta property="og:image:height" content="{{ .Params.coverImage.height }}" />
<meta property="article:published_time" content="{{ dateFormat "2006-01-02T15:04:05" .Date }}" />
<meta property="article:modified_time" content="{{ dateFormat "2006-01-02T15:04:05" .Lastmod }}" />
<meta property="og:description" content="{{ (htmlUnescape .Summary) | plainify }}" />


<!-- Twitter Card data -->


<meta name="twitter:description" content="{{ (htmlUnescape .Summary) | plainify }}">
<meta name="twitter:image:src" content="{{ .Site.Params.labImageURL}}{{ .Params.coverImage.url }}">


{{- else }}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ "/assets/images/cloud-side-01-min.jpeg" | absURL}}" />
    <meta name="og:description" content="{{ .Params.meta }}">
    <meta name="twitter:description" content="{{ .Params.meta }}">
    <meta name="twitter:image:src" content="{{ "/assets/images/cloud-side-01-min.jpeg" | absURL}}">
    
{{ end }}

<!-- End seo/opengraph.html -->