<!-- seo/schema.html -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Loyall",
  "alternateName": "Loyall GmbH",
  "url": "https://loyall.ch",
  "logo": "https://loyall.ch/assets/images/logo.svg",
  "sameAs": [
    "https://www.facebook.com/loyallch/",
    "https://twitter.com/loyallch",
    "https://www.linkedin.com/company/loyall",
    "https://plus.google.com/+loyallch"
  ],
  "contactPoint": [
    { "@type": "ContactPoint",
      "telephone": "+41445853300",
      "contactType": "customer service, sales",
      "availableLanguage": "French, German, English"
    }
  ]
}
</script>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Loyall",
  "alternateName": "Loyall GmbH",
  "url": "https://loyall.ch"
}
</script>
<!-- END seo/schema.html -->