.campaign {
    // header {
    //     box-shadow: none;
    //     background:transparent;
    //     position:absolute;
        
    //     #logo{
    //         background-image: url(/assets/images/logo-loyall-white.png);
    //     }
    //     .right-nav {visibility: hidden};
        
    //     @include desktop {
    //         height:100px;
    //     }
    // }
    
    // .top {
    //     p {font-size:1.1em;}
    // }
    
    // h1 {
    //     font-size:1.9em;
    //     line-height:1.1em;
    //     font-weight:400;
    //     margin-bottom:2rem;
    // }
    
    // h2 {
    //     font-weight:600;
    //     font-size: 1.5em;
    // }
    
    // p {
    //     font-size: 1em;
    // }
    
    
    .card {
        padding: 20px 15px;
        .card--content h2 {
            color:$color-text;
        }
    }
    
    // .top { 
        
    //     h1, h2, h3, p {
    //         color:#fff;
    //     }
        
    //     &:before {
    //         @include overlay;
    //         background: $color-blue-mid;
    //         background: linear-gradient(45deg, #2a9ee0 37%, #4961a9 100%);
    //         opacity:1;
    //     }
    //     margin-top:0;
    //     min-height:600px;
    //     h1{
    //         // grid-column: span 5;
    //     }
    //     .section-title-block {
    //         margin-top:100px;
    //     }
    // }
    
    
    .loyall-benefits {
        i {
            font-size:1.8em;
            line-height:1.8em;
            color: $color-primary;
        }
    }

    .gsuite-image {
        max-width:80%;
        margin:auto;
        margin-bottom:30px;
    }
    
}