<footer class="{{ .Site.Data.classes.section }} center bg-primary-color-light db">
  <div class="w-90 center">
    <div class="w-100 center ph4-l pb5">
      <div class="fl w-50 w-30-m w-20-l pr4-l pb3">
        <p class="b pb3">{{ T "links_footer" }}</p>
        <ul class="">
          {{ range .Site.Menus.footer_company -}}
            <li itemprop="name"><a itemprop="url" href="{{ .URL | relLangURL }}" class="" id="link-footer-mobile--{{.Identifier}}">{{ .Name }}</a></li>
          {{ end -}}
          <li itemprop="name"><a itemprop="url" href="/lab/" id="link-footer-mobile--lab">Lab (EN)</a></li>
        </ul>
      </div>
      <div class="fl w-50 w-30-m w-20-l ph4-l">
          {{ range .Site.Menus.main -}}
            {{ if eq .Identifier "solutions" }}
            <p class="b pb3">{{ .Name }}</p>
            <ul class="">
              {{ range .Children }}
                <li itemprop="name"><a itemprop="url" href="{{ .URL | relLangURL }}" class="" id="link-footer-mobile--{{.Identifier}}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
          {{ end -}}
      </div>
      <div class="fl w-100 w-30-m w-20-l ph4-l">
        <p class="b pb3">{{ T "contactus" }}</p>
          <p><svg class="w1 h1 mr2">{{ partial "svg-sprite" "icon-phone" }}</svg><a href="tel:{{ .Site.Params.primaryPhone | urlize}}" id="link-footer-mobile--call">{{ .Site.Params.prettyPrimaryPhone | safeHTML}}</a></p>
          <p><svg class="w1 h1 mr2">{{ partial "svg-sprite" "icon-email" }}</svg><a href="mailto:{{ .Site.Params.primaryEmail | safeHTML}}" id="link-footer-mobile--email">{{ .Site.Params.primaryEmail | safeHTML}}</a></p>
        <div class="pt3">
          <a href="https://twitter.com/loyallch"><svg class="w2 h2 mr2">{{ partial "svg-sprite" "logos--twitter" }}</svg></a>
          <a href="https://www.linkedin.com/company/loyall"><svg class="w2 h2 mr2">{{ partial "svg-sprite" "logos--linkedin" }}</svg></a>
        </div>
      </div>
      <div class="flex w-100 w-40-l ph4-l mt5 mt0-l justify-end">
        <div class="ba bg-white b--light-gray br3 flex flex-column flex-wrap items-center justify-center ph2 pv4 mb2 w-100 w-50-l mr1">
          <a href="https://www.acer.com/ac/de/CH/content/professional-education-home" title="acer.com" id="link-footer-mobile--acer">
            <amp-img alt="Acer Silver Partner Logo" src="/assets/images/acer-partner-logo.png" width="136" height="45"></amp-img>
          </a>
        </div>
        <div class="ba bg-white b--light-gray br3 flex flex-column flex-wrap items-center justify-center ph2 pv4 mb2 w-100 w-50-l o-100">
          <a href="https://cloud.withgoogle.com/partners/detail/?id=CIGAgICAgICLOw%3D%3D&language=en" title="Loyall on Google Cloud Partner portal" id="link-footer-mobile--google-partner"><img src="/assets/images/googlework-partner.jpg"></a>
        </div>
      </div>
    </div>
    <div class="w-100 center ph4-l pb5">
      <p class="f7">{{ .Site.Copyright | safeHTML}}</p>
    </div>
  </div>
</footer>