<!--<script>-->
<!--  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);-->
<!--    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);-->
<!--  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/100941/script.js');-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"f7262e2e9abb4359c02f2baf0c67945e76384eec7166d5f96ffa65a2a3eea96c", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.eu/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");-->
<!--</script>-->
<script>
   window.onscroll = function(ev) {
   	// console.log("scroll");
    // if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
    //     alert("you're at the bottom of the page");
    // }
    
    // if (){
    // 	console.log("pageoffser > 60")
    // }
    
    if(window.scrollY >= 60 || window.pageYOffset >= 60){
    	// console.log("scroll>60");
        document.getElementsByTagName("header")[0].className = '';
    }else {
    	// console.log("scroll < 60");
    	document.getElementsByTagName("header")[0].className = 'header-invert';
    }
};
</script>
{{ if ne .Section "lab" }}
<!--<script async type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/82368fa2f92b4a9f834b34289357714c67992142d1d276e06de1c12c912c3659.js"></script> -->
<!--<script async type="text/javascript" src="/assets/js/main.js"></script> -->

{{ else }}

{{ end }}