<!-- struct/head.html -->
<meta charset="utf-8">
<script async src="https://cdn.ampproject.org/v0.js"></script>
<link rel="canonical" href="{{ .Permalink }}" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<title>
{{ if eq .Layout "article" }}
    {{ with .Title }} {{ . }} | Loyall Lab{{ end }}
{{ else }}
    {{ with .Title }} {{ . }} {{ end }}
{{ end }}

</title>
{{ partial "struct/metadata.html" . -}}
{{ partial "struct/language-targetting.html" . -}}
{{ partial "seo/opengraph.html" . -}}
{{ partial "struct/styles.html" . -}}

<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,800" rel="stylesheet">

{{- partial "seo/schema.html" -}}

{{- partial "struct/amp-imports.html" }}


<!--Start of Zendesk Chat Script-->
<!--<script type="text/javascript">-->
<!--window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=-->
<!--d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.-->
<!--_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");-->
<!--$.src="https://v2.zopim.com/?53PI4JGJwLIjTejkzNVhcwCuFVfp1w4q";z.t=+new Date;$.-->
<!--type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");-->
<!--</script>-->
<!--End of Zendesk Chat Script-->
<!-- end struct/head.html -->
