<!-- struct/styles.html -->
<!--<link rel="stylesheet" href="/assets/css/{{ index .Site.Data.css.hash "main.min.css" }}">-->
<!--<link rel="preload" href="/assets/css/{{ index .Site.Data.css.hash "main.min.css" }}" as="style" onload="this.rel='stylesheet'">-->
<!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">-->
<!--<noscript><link rel="stylesheet" href="/assets/css/{{ index .Site.Data.css.hash "main.min.css" }}"></noscript>-->

{{ $options := (dict "targetPath" "assets/css/styles.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "sass/main.min.scss" | resources.ToCSS $options | fingerprint }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}">



<!-- Styles -->
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<!-- end struct/styles.html -->