<!--<noscript id="deferred-styles">-->
<!--      <link rel="stylesheet" type="text/css" href="/assets/css/{{ index .Site.Data.css.hash "main.min.css" }}"/>-->
<!--    </noscript>-->
<!--<script>-->
<!--    var loadDeferredStyles = function() {-->
<!--        var addStylesNode = document.getElementById("deferred-styles");-->
<!--        var replacement = document.createElement("div");-->
<!--        replacement.innerHTML = addStylesNode.textContent;-->
<!--        document.body.appendChild(replacement)-->
<!--        addStylesNode.parentElement.removeChild(addStylesNode);-->
<!--    };-->
<!--    var raf = requestAnimationFrame || mozRequestAnimationFrame ||-->
<!--        webkitRequestAnimationFrame || msRequestAnimationFrame;-->
<!--    if (raf) raf(function() {-->
<!--        window.setTimeout(loadDeferredStyles, 0);-->
<!--    });-->
<!--    else window.addEventListener('load', loadDeferredStyles);-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--  WebFontConfig = {-->
<!--    google: { families: [ 'Source+Sans+Pro:300,400,600:latin' ] }-->
<!--  };-->
<!--  (function() {-->
<!--    var wf = document.createElement('script');-->
<!--    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +-->
<!--      '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';-->
<!--    wf.type = 'text/javascript';-->
<!--    wf.async = 'true';-->
<!--    var s = document.getElementsByTagName('script')[0];-->
<!--    s.parentNode.insertBefore(wf, s);-->
<!--  })(); </script>-->
<!--<noscript><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet"></noscript>-->