{{ define "custom_amp_imports" }}
	<!--<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>-->
    <!--<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{ end }}
{{ define "body_tag" }}
<body class="campaign">
{{ end }}
{{ define "main" }}

<div class="full top">
	<div class="section-max">
	    <div class="jumbotron centered">
	        <h1 class="centered">{{ .Params.page_title }}</h1>
            <p class="centered">{{ .Params.page_subtitle }}</p>
	    </div>
	</div>
	{{ partial "wave.html" }}
</div>

<div class="full">
    <div class="section-max">
        <div class="cols-row">
            <div class="col col-l-6">
                <!--<h1>{{ .Params.page_title }}</h1>-->
            	<p>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.page_intro | safeHTML }}</p>
            <br><br>
            <ul class="list--count">
                {{ range (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.how_benefit_items }}
                    <li>
                        <div class="theme--block transparent">
                            <h3>{{ index . 0}}</h3>
                            <p>{{ index . 1}}</p>
                        </div>
                    </li>
                {{ end }}
            </ul>
            </div>
            <div class="col col-l-6">
                <div class="card shadow" id="contact-form-anchor">
                    <div class="card--content">
                        <h2 class="anchor">
                            {{ T "send_us_message" }}
                        </h2>
                     {{ partial "amp-form" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full">
	<div class="section-max">
	    <div class="cols-row">
	    	<div class="col col-l-5 centered">
	    		<amp-img 
                    class="gsuite-image shadow" 
                    src="/assets/images/gsuite-icons-screen.jpeg"
                    width="450"
                    height="350"
                    layout="responsive">
                </amp-img>
	    	</div>
	    	<div class="col col-l-7">
	    		<div class="cols-row no-spacing">
	    			<div class="col col-l-6">
	        	<div class="theme--block">
	                 <i class=""></i>
	                 <h3>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_1_title }}</h3>
	                 <p>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_1_text }}</p>
	             </div>
	        </div>
	        <div class="col col-l-6">
	        	<div class="theme--block">
	                 <i class=""></i>
	                 <h3>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_2_title }}</h3>
	                 <p>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_2_text }}</p>
	             </div>
	        </div>
	        <div class="col col-l-6">
	        	<div class="theme--block">
	                 <i class=""></i>
	                 <h3>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_3_title }}</h3>
	                 <p>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_3_text }}</p>
	             </div>
	        </div>
	        <div class="col col-l-6">
	        	<div class="theme--block">
	                 <i class=""></i>
	                 <h3>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_4_title }}</h3>
	                 <p>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.gsuite_item_4_text }}</p>
	             </div>
	        </div>
	      <!--<div class="theme--block">-->
	      <!--           <i class=""></i>-->
	      <!--           <h3>{{ .Params.gsuite_item_1_title }}</h3>-->
	      <!--           <p>{{ .Params.gsuite_item_1_text }}</p>-->
	      <!--       </div>-->
	      <!--       <div class="theme--block">-->
	      <!--           <i class=""></i>-->
	      <!--           <h3>{{ .Params.gsuite_item_2_title }}</h3>-->
	      <!--           <p>{{ .Params.gsuite_item_2_text }}</p>-->
	      <!--       </div>-->
	      <!--       <div class="theme--block">-->
	      <!--           <i class=""></i>-->
	      <!--           <h3>{{ .Params.gsuite_item_3_title }}</h3>-->
	      <!--           <p>{{ .Params.gsuite_item_3_text }}</p>-->
	      <!--       </div>-->
	      <!--       <div class="theme--block">-->
	      <!--           <i class=""></i>-->
	      <!--           <h3>{{ .Params.gsuite_item_4_title }}</h3>-->
	      <!--           <p>{{ .Params.gsuite_item_4_text }}</p>-->
	      <!--       </div>-->
	    	</div>
	    	
	    	
	        <!--<div class="col col-l-6">-->
	        <!--	<div class="theme--block">-->
	        <!--         <i class=""></i>-->
	        <!--         <h3>{{ .Params.gsuite_item_1_title }}</h3>-->
	        <!--         <p>{{ .Params.gsuite_item_1_text }}</p>-->
	        <!--     </div>-->
	        <!--</div>-->
	        <!--<div class="col col-l-6">-->
	        <!--	<div class="theme--block">-->
	        <!--         <i class=""></i>-->
	        <!--         <h3>{{ .Params.gsuite_item_2_title }}</h3>-->
	        <!--         <p>{{ .Params.gsuite_item_2_text }}</p>-->
	        <!--     </div>-->
	        <!--</div>-->
	        <!--<div class="col col-l-6">-->
	        <!--	<div class="theme--block">-->
	        <!--         <i class=""></i>-->
	        <!--         <h3>{{ .Params.gsuite_item_3_title }}</h3>-->
	        <!--         <p>{{ .Params.gsuite_item_3_text }}</p>-->
	        <!--     </div>-->
	        <!--</div>-->
	        <!--<div class="col col-l-6">-->
	        <!--	<div class="theme--block">-->
	        <!--         <i class=""></i>-->
	        <!--         <h3>{{ .Params.gsuite_item_4_title }}</h3>-->
	        <!--         <p>{{ .Params.gsuite_item_4_text }}</p>-->
	        <!--     </div>-->
	        <!--</div>-->
		</div>
	</div>
</div>
<div class="full grey-section">
	<div class="section-max">
	    <div class="cols-row middle">
	        <div class="col col-l-2 centered">
	            <div class="circle-image">
	                <img
                        alt="Profile photo Bernadette Kaba at the Ecole Vinet"
                        class="profile-photo"
                        src="/assets/images/profile-bernadette.jpg"
                        />
	            </div>
	        </div>
	        <div class="col col-l-10">
	            <div class="blockquote">
        			<p class="quote">{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.testim_text }}</p>
        			<p>&mdash;&nbsp;{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.testim_name }}</p>
        		</div>
	        </div>
		</div>
	</div>
</div>
<div class="full">
	<div class="section-max">
	    <div class="section-title-block centered">
	        <h1 class="centered">
	            {{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_title }}
	        </h1>
	        <p class="centered">
	        	{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_subtitle }}
	        </p>
	    </div>
	    <div class="cols-row">
	        <div class="col col-l-4">
	             <div class="theme--block loyall-benefits">
	             	<i class="picon picon-magic-wand"></i>
	                 <h3>
	                     {{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_item_1_title }}
	                 </h3>
	                 <p>
	                     {{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_item_1_text }}
	                 </p>
	             </div>
	        </div>
	        <div class="col col-l-4">
	             <div class="theme--block loyall-benefits">
	             	<i class="picon picon-bubbles"></i>
	                 <h3>
	                     {{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_item_2_title }}
	                 </h3>
	                 <p>
	                     {{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_item_2_text }}
	                 </p>
	             </div>
	        </div>
	        <div class="col col-l-4">
	             <div class="theme--block loyall-benefits">
	                 <i class="picon picon-google"></i>
	                 <h3>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_item_3_title }}</h3>
	                 <p>{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.usp_item_3_text }}</p>
	             </div>
	        </div>
		</div>
		<div class="centered">
			<p>&nbsp;</p>
			<a href="#contact-form-anchor" class="btn btn--cta" id="cta-campaign--contact">{{ (.Site.GetPage "page" "campaign" "g-suite-base.md" ).Params.cta_end_page }}</a>
		</div>
	</div>
</div>

<script>
    var $contactForm = $('#contact-form');
$contactForm.submit(function(e) {
	e.preventDefault();
	$.ajax({
		url: '//formspree.io/hello@loyall.ch',
		method: 'POST',
		data: $(this).serialize(),
		dataType: 'json',
		beforeSend: function() {
			$contactForm.append('<div class="alert alert--loading">Sending message…</div>');
		},
		success: function(data) {
			$contactForm.find('.alert--loading').hide();
			$contactForm.append('<div class="amp-form-submit-success"><p class="text-block">{{ i18n "form_success" | safeHTML}}</p></div>');
			$contactForm[0].reset();
		},
		error: function(err) {
			$contactForm.find('.alert--loading').hide();
			$contactForm.append('<div class="amp-form-submit-error" ><p class="text-block">{{ i18n "form_failure" | safeHTML}}</p></div>');
		}
	});
});
</script>
<!-- GRID LAYOUT-->
<!--<div class="full top">-->
<!--    <div class="section-max grid grid--2-cols">-->
<!--        <div>-->
<!--            <h1>{{ .Params.page_title | safeHTML }}</h1>-->
<!--            <p>{{ .Params.page_intro }}</p>-->
<!--            <br><br>-->
            
<!--            {{ range .Params.how_benefit_items }}-->
<!--                <div class="theme--block transparent">-->
<!--                    <h3>{{ index . 0}}</h3>-->
<!--                    <p>{{ index . 1}}</p>-->
<!--                </div>-->
<!--            {{ end }}-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="card shadow">-->
<!--                <div class="card--content">-->
<!--                    <h2>-->
<!--                        {{ T "send_us_message" }}-->
<!--                    </h2>-->
<!--                 {{ partial "amp-form" . }}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="full grey-section">-->
<!--	<div class="section-max grid">-->
<!--	    <div class="cell-2 image centered">-->
<!--			<amp-img-->
<!--                alt="Profile photo Bernadette Kaba at the Ecole Vinet"-->
<!--                class="circle-image profile-photo"-->
<!--                src="/assets/images/profile-bernadette.jpg"-->
<!--                height="200"-->
<!--                width="200"></amp-img>-->
<!--		</div>-->
<!--		<div class="blockquote cell-10">-->
<!--			<p class="quote">{{ .Params.testim_text }}</p>-->
<!--			<p>&mdash;&nbsp;{{ .Params.testim_name }}</p>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--<div class="full">-->
<!--	<div class="section-max grid grid--3-cols">-->
<!--	    <div class="card">aasd</div>-->
<!--	    <div class="card">aasd</div>-->
<!--	    <div class="card">aasd</div>-->
<!--	</div>-->
<!--</div>-->
{{ end }}