<!DOCTYPE html>
<html {{ if and (isset .Params "is_amp") (.Params.is_amp) }}amp{{ end }}>

<!--Additional imports-->
<head>
{{- partial "struct/head.html" . -}}
{{- partial "seo/gtm_head.html" . -}}
{{- block "custom_amp_imports" . -}}{{- end -}}
<!--{{- partial "struct/styles_async.html" . -}}-->

</head>
{{- block "body_tag" . -}}<body class="{{ with .Params.identifier }}{{ . }}{{ end }}">{{- end -}}
	{{- partial "seo/gtm_body.html" . -}}
	<!--{{- partial "seo/amp-analytics.html" . -}}-->
	{{- partial "header.html" . -}}
	
		<main class="main-content {{ with .Params.css_class }}{{ . }}{{end}}">
    
      		{{- block "main" . -}}
                 <!-- The part of the page that begins to differ between templates -->
            {{- end -}}
    	</main>
    	{{- partial "struct/footer.html" . -}}
      	{{- partial "debugger.html" . -}}
	{{- partial "struct/footer_includes.html" . -}}
</body>
</html>