{{ define "main" }}

<!--<section class="top-section">-->
<!--    <div class="container">-->
        
<!--    </div>-->
<!--</section>-->
<div class="full top">
	<div class="section-max">
	    <div class="jumbotron centered">
	        <h1 class="centered">{{ .Params.page_title }}</h1>
            <p class="centered">{{ .Params.page_subtitle }}</p>
	    </div>
	</div>
	{{ partial "wave.html" }}
</div>
<!--<div class="full top">-->
<!--    <div class="section-max">-->
<!--        <h1 class="centered page-title">{{ .Title }}</h1>-->
<!--        {{ .Content }}-->
<!--    </div>-->
<!--    <p>&nbsp;</p>-->
<!--</div>-->
{{ end }}