<div class="{{ .Site.Data.classes.section_wrapper }}">
	<div class="center tc-ns mw6">
      <h2 id="what-we-do" class="anchor">{{ .Params.cloud_title }}</h2>
      <!--<p class="">{{ .Params.cloud_intro | safeHTML}}</p>-->
    </div>
    <div class="flex-ns flex-wrap justify-center center mw9">
		{{ range .Params.features }}
		<div class="w-100 w-50-ns ph5-l pv5-l nested-copy-line-height">
			<div class="flex-l flex-wrap justify-between">
				<div class="flex-auto w-100 w-10-ns pt1 mb3">
					<svg class="svg-icon">{{ partial "svg-sprite" .icon }}</svg>
				</div>
				<div class="flex-auto tl-ns w-100 pr3-ns">
					<h3 class="f4">{{ .heading }}</h3>
					<p class="db v-mid w-100 measure-wide mb5 mb0-l">{{ .copy }}</p>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</div>
