<section class="w-100 ph4 ph5-ns pv4 pv6-ns mid-gray">
  <div class="{{ .Site.Data.classes.section_wrapper }} flex-ns flex-wrap mw9">

    <div class="w-100 w-40-l">
      <div class="w-90-ns center pb4">
        <img class="img" src="/assets/images/cloud-side-01-min.jpeg" />
      </div>
    </div>

    <div class="w-100 w-60-l">
      <div class="w-80-ns center tj-ns tl">
        <h2 class="lh-title pt0-l tl">{{ .Params.why_loyall_title }}</h2>
        {{ .Params.why_loyall_text | safeHTML}}
        <a class="btn btn--cta mt4" href="{{ "/why-loyall/" | relLangURL }}" id="cta-home--more_services">{{ .Params.meet_cfa }}</a>
      </div>
    </div>
  </div>
</section>