<div class="{{ .Site.Data.classes.section_wrapper }}">
    <div class="center tc-ns mw6 mb5">
      <h2 id="what-we-do" class="anchor cente-nsr">{{ .Params.whatwedo_title }}</h2>
      <p class="">{{ .Params.whatwedo_text | safeHTML}}</p>
    </div>
	{{ if .Params.features }}
	<div class=" flex-ns flex-wrap justify-center-l mw9">
	  {{ range .Params.solutions }}
       <div class="w-100 w-50-m w-30-l ph2 mb4">
       <a href="{{ .link_url | relLangURL }}" title="{{ .heading }}" class="h-100 card black">
           <!--<div class="br2 ba dark-gray b--black-10 w-100">-->
               <!--<div class="bg-images {{ .bg_image }} w100 h5 mb1"></div>-->
               <div class="w-100 tc relative pt4 pb3">
                 <img src="data:image/svg+xml;base64,{{ index $.Site.Data.svg_icons .icon }}" class="bg-near-white bw5 br-100 w4 dib pa4 fab">
               </div>
               <!--<img src="data:image/svg+xml;base64,{{ index $.Site.Data.svg_icons .icon }}" class="h3 w3 dib mb4">-->
               <div class="pb3-ns ph4 pb4">
                   <h3 class="card-title">{{ .heading }}</h3>
                   <p class="lh-copy f6">
                       {{ .copy | safeHTML}}
                   </p>
               </div>
           <!--</div>-->
       </a>
       </div>
        {{ end }}
	</div>
	
   
    {{ end }}

    	 <!--<div class="cols-row flex solutions-row">-->
      <!--  	<div class="col col-l-4 col-s-4">-->
      <!--  		<div class="box products">-->
      <!--  			<i class="icon google"></i>-->
      <!--  			<h3>{{ .Params.gsuite_title }}</h3>-->
      <!--  			<p>{{ .Params.gsuite_text }}<br>-->
      <!--  				<a href='{{ "/solutions/g-suite" | relLangURL}}' class="" id="link-home--more_gsuite">{{ .Params.gsuite_link }}</a>-->
      <!--  			</p>-->
      <!--  		</div>	-->
      <!--  	</div>-->
      <!--  	<div class="col col-l-4 col-s-4">-->
      <!--  		<div class="box products">-->
      <!--  			<i class="icon cloud"></i>-->
      <!--  			<h3>{{ .Params.private_title }}</h3>-->
      <!--  			<p>{{ .Params.private_text }}<br>-->
      <!--  				<a href='{{ "/solutions/private-cloud" | relLangURL}}' class="" id="link-home--more_privatecloud">{{ .Params.private_link }}</a>-->
      <!--  			</p>-->
      <!--  		</div>	-->
      <!--  	</div>-->
      <!--  	<div class="col col-l-4 col-s-4">-->
      <!--  		<div class="box products">-->
      <!--  			<i class="icon chrome"></i>-->
      <!--  			<h3>{{ .Params.chromebook_title }}</h3>-->
      <!--  			<p>{{ .Params.chromebook_text }}<br>-->
      <!--  				<a href='{{ "/solutions/chromebooks" | relLangURL}}' class="" id="link-home--more_chromebooks">{{ .Params.chromebook_link }}</a>-->
      <!--  			</p>-->
      <!--  		</div>	-->
      <!--  	</div>-->
      <!--  </div>-->
	</div>
</div>