{{ define "custom_amp_imports" }}
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{ end }}

{{ define "body_tag" }}
<body class="article">
{{ end }}

{{ define "main" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ printf "%s" .Permalink}}"
  },
  "headline": "{{ (htmlUnescape .Title) | plainify }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ printf "%s%s" .Site.Params.labImageURL .Params.coverImage.url }}",
    "height": {{ .Params.coverImage.height }},
    "width": {{ .Params.coverImage.width }}
  },
  "datePublished": "{{ dateFormat "2006-01-02T15:04:05" .Date }}",
  "dateModified": "{{ dateFormat "2006-01-02T15:04:05" .Lastmod }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author }}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Loyall",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Params.loyallLogoURL }}",
      "width": 160
    }
  },
  "description": "{{ (htmlUnescape .Summary) | plainify }}"
}
</script>

<section class="{{ .Site.Data.classes.section }} center">
	<div class="{{ .Site.Data.classes.section_wrapper_article }}">
	  <p><a href="/lab/" class="arrow arrow--left" title="Back to Lab home" id="link-article--backtolab">Back to Lab home</a></p>
	  <h1 class="lh-title f2 f1-ns fw4">{{ .Params.headline }}</h1>
	  <p>By {{ .Params.author }}{{ with .Date }} &mdash; {{ dateFormat "Jan 2, 2006" . }}{{ end }} in {{ range  .Params.Categories }}<b>{{ . | title }}</b>{{ end }} <br>&nbsp;</p>
	  <amp-img
            src="{{ printf "%s%s" $.Site.Params.labImageURL $.Params.coverImage.url }}" 
            class="cover-image mb4"
            width = "300"
            height = "169"
            layout="responsive">
    </amp-img>
    
    <div class="social-media-wrapper">
      <amp-social-share class="social-button" data-target="email" width="40" height="40" type="email" data-param-attribution="loyallLab" id="btn-article--share-email"></amp-social-share>
      <amp-social-share class="social-button" data-target="facebook" width="40" height="40" type="facebook" data-param-app_id="1722685791394766" data-param-attribution="loyallLab" id="btn-article--share-facebook"></amp-social-share>
      <amp-social-share class="social-button" data-target="twitter" width="40" height="40" type="twitter" data-param-attribution="loyallLab" id="btn-article--share-twitter"></amp-social-share>
      <amp-social-share class="social-button" data-target="gplus" width="40" height="40" type="gplus" data-param-attribution="loyallLab" id="btn-article--share-gplus"></amp-social-share>
      <amp-social-share class="social-button" data-target="linkedin" width="40" height="40" type="linkedin" data-param-attribution="loyallLab" id="btn-article--share-linkedin"></amp-social-share>
      <amp-social-share class="social-button mobile" data-target="whatsapp"width="40" height="40" type="whatsapp" data-param-attribution="loyallLab" class="mobile" id="btn-article--share-whatsapp"></amp-social-share>
    </div>
    
    {{ .Content }}
    
    <div class="mb5">
      <h3>See Also:</h3>
      <ul>
       {{if .PrevInSection}}<li><a href="{{.PrevInSection.RelPermalink}}" id="link-article--previous">{{.PrevInSection.Title}}</a></li>{{end}}
       {{if .NextInSection}}<li><a href="{{.NextInSection.RelPermalink}}" id="link-article--next">{{.NextInSection.Title}}</a></li>{{end}}
      </ul>
    </div>
    <!--<p class="centered">-->
    <!--  <br>-->
      <!--<a href="/lab/" class="btn btn--cta">Back to Lab</a>-->
    <!--  <br>-->
    <!--</p>-->
  </div>
</section>
{{ end }}