<div class="card article-card">
    <div class="theme--image">
        <amp-img
            src="{{ printf "%s%s" $.Site.Params.labImageURL $.Params.coverImage.url }}" 
            width = "300"
            height = "169"
            layout="responsive">
        </amp-img>
        </div>
            <div class="card-content">
                <h3><a href="{{ .RelPermalink }}" id="link-lab--article-headline">{{ .Title }}</a></h3>
                <p>by {{ .Params.author }}{{ with .Date }}&nbsp;<span class="middot">&middot;</span>&nbsp;{{ dateFormat "Jan 2, 2006" . }}{{ end }}</p>
                <p>&nbsp;</p>
                <p>{{ .Summary }}<a href="{{ .RelPermalink }}">Continue reading</a></p>
                <!--<a href="{{ "/case-studies/ecole-vinet-private-school/" | relLangURL }}" class="learn_more">read more</a>-->
            </div>
        </div>