<div class="mb3">
    <amp-img
        src="{{ printf "%s%s" $.Site.Params.labImageURL $.Params.coverImage.url }}" 
        width = "300"
        height = "169"
        layout="responsive">
    </amp-img>
</div>
<p class="b mb2">{{ range  .Params.Categories }}{{ . | upper }}{{ end }} _</p>
<h2 class="f4 lh-copy mb2"><a class="lh-copy" href="{{ .RelPermalink }}" title="{{ .Params.headline }}" id="link-lab--article-title">{{ .Params.headline }}</a></h2>
<p class="nested-copy-line-height mb2"> {{ if isset .Params "meta" }} {{ .Params.meta }} {{ else }} {{ .Summary }} {{ end }}</p>
<p><i>{{ .Params.author }}{{ with .Date }}, {{ dateFormat "Jan 2, 2006" . }}{{ end }}</i></p>
<hr class="dn-l mt4">
