<!--<div class="card chromebook-card">-->
<!--    <div class="card--image">-->
<!--        <img src="{{ .cover_image }}"-->
<!--            alt="Chromebook image"></img>-->
<!--    </div>-->
<!--    <div class="card--title">{{ .mfg }} {{ .model }}</div>-->
<!--    <div class="card--content">-->
<!--       <p>{{ .summary }}</p>-->
<!--       <a href="{{ .desc_link }}" class="blank" target="_blank">{{ T "more_about" }} {{ .model}}</a>-->
<!--    </div>-->
<!--</div>-->

<!--<a href="" title="" class=" w-100 w-50-m w-25-l mr3 mb3 grow">-->

<div class="w-100 w-25-ns flex pa2">
    <div class="card w-100 flex flex-column">
        <div class="product_card_image pa5" style="background-image: url({{ .cover_image }})">
           <!--<h3 class="f4 f4-ns mv3 fw6">{{ .mfg }} {{ .model }}</h3>-->
           <!--<img src="{{ .cover_image }}" alt="Chromebook image" class="w-100">-->
       </div>
       <div class="ph3 tc center">
           <h3 class="f6 f6-ns fw6 black">{{ .mfg }} {{ .model }}</h3>
           <p class="f6 lh-copy pa0 pb3 w-80 center">
               {{ .summary }}
           </p>
           
           <!--<a class="btn btn--cta btn--small btn--ghost mb3 tc center" href="{{ .desc_link }}" target="_blank">{{ T "learn_more" }}</a>-->
           <!--<a href="{{ .desc_link }}" class="blank" target="_blank">{{ T "more_about" }} {{ .model}}</a>-->
           
           <!--<button-->
           <!--     class="snipcart-add-item btn btn--cta btn--small mb3 tc center"-->
           <!--     data-item-id="{{ .id }}"-->
           <!--     data-item-name="{{ .model }}"-->
           <!--     data-item-price="{{ .price }}"-->
           <!--     data-item-url="/"-->
           <!--     data-item-description="{{ .summary }}">-->
           <!--     Add to cart-->
           <!-- </button>-->
       </div>
       <div class="tc center">
           <a class="btn btn--cta btn--small btn--ghost mb3 tc center" href="{{ .desc_link }}" target="_blank">{{ T "learn_more" }}</a>
       </div>
    </div>
</div>