<div class="card w-25-ns w-100 ma2-ns">
    <div class="product_card_image ph3" style="background-image: url({{ .Params.cover_image }})">
    </div>
    <div class="ph3 tc center">
        <h3 class="f6 f6-ns fw6 black">{{ .Params.mfg }} {{ .Params.name }}</h3>
        <p class="f6 lh-copy pa0 pb3 w-80 center">
            {{ .Params.summary | safeHTML}}
        </p>
       <button
            class="snipcart-add-item btn btn--cta btn--small mb3 tc center"
            data-item-id="{{ .Params.id }}"
            data-item-name="{{ .Params.model }}"
            data-item-price="{{ .Params.price }}"
            data-item-url="/"
            data-item-description="{{ .Params.summary }}">
            Add to cart
        </button>
        <a href="{{ .Permalink }}">more</a>
    </div>
</div>
