<form id="contact-form">
    
    <label for="name">{{ i18n "name" }}</label>
    <input type="text" class="form-field" name="name" id="name5" required>
    
    <label for="email">{{ i18n "email" }}</label>
    <input type="email" class="form-field" name="email" required>
    
    <label for="message">{{ i18n "message" }}</label>
    <textarea class="form-field" rows="4" id="request" name="request" required></textarea>
        
    <input type="hidden" name="_subject" value="Loyall - Contact Request" />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_language" value="{{ .Site.Language }}" />
    
    <input type="submit" value="{{ i18n "submit" }}" class="btn btn--small btn--cta" id="btn-contact-form--submit">
</form>


<!--<form method="post"-->
<!--  action-xhr="https://formspree.io/hello@loyall.ch"-->
<!--  target="_top"-->
<!--  custom-validation-reporting="show-all-on-submit"-->
<!--  id="form1">-->
  
<!--      <input type="text" class="form-field" name="name" id="name5"-->
<!--      placeholder="{{ i18n "name" }}"-->
<!--      required>-->
    
<!--      <input type="email"-->
<!--        class="form-field"-->
<!--        name="email"-->
<!--        placeholder="{{ i18n "email" }}"-->
<!--        required>-->
    
<!--      <textarea class="form-field" -->
<!--        rows="5"-->
<!--        id="request" -->
<!--        name="request" -->
<!--        placeholder="{{ i18n "message" }}"-->
<!--        required></textarea>-->
    
    
<!--        <input type="submit" value="{{ i18n "submit" }}" class="go-button flat">-->
    
  
<!--  <div submit-success>-->
<!--      <template type="amp-mustache">-->
<!--        <p class="text-block">{{ i18n "form_success" | safeHTML}}</p>-->
<!--      </template>-->
<!--    </div>-->
<!--    <div submit-error>-->
<!--      <template type="amp-mustache">-->
<!--        <p class="text-block">{{ i18n "form_failure" | safeHTML}}</p>-->
<!--      </template>-->
<!--    </div>-->
<!--</form>-->