<div id="drawer" class="panel-full">
  {{- $currentNode := . -}}
  <ul>
    {{ range .Site.Menus.main -}}
      <!--<div tabindex="0" role="button" class="tab {{ if .HasChildren }}has-children{{end}}" {{ if .HasChildren }}on="tap:solutions-sidebar.toggle"{{end}}>-->
        {{ if .HasChildren }}
        <li>
          <!--<span class="nav-link">{{ .Name }}</span>-->
          <input type="checkbox" name="toggle-{{ .Identifier }}" id="toggle-{{ .Identifier }}" class="submenu-toggle" />
          <label for="toggle-{{ .Identifier }}" class="nav-link submenu-label">{{ .Name }}</label>
          <ul class="submenu">
            {{ range .Children }}
              <li>
                <a itemprop="url" href="{{ .URL | relLangURL }}" class="nav-link" id="link-mainnav-mobile--{{ .Identifier }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </li>
        {{ else}}
          <li>
            <a itemprop="url" href="{{ .URL | relLangURL }}" class="nav-link" id="link-mainnav-mobile--{{ .Identifier }}">{{ .Name }}</a>
          </li>
        {{ end }}
    {{ end }}
    <li>
      <a itemprop="url" href="/lab/" class="nav-link" id="link-mainnav-mobile--lab">Lab <span class="small">(English)</span></a>
    </li>
    {{ if .IsTranslated }}
    <li>
      <input type="checkbox" name="toggle-lang" id="toggle-lang" class="submenu-toggle" />
      <label for="toggle-lang" class="nav-link submenu-label lang-selector">{{upper .Lang }}</label>
      <ul class="submenu">
        {{ range .Translations }}
          <li>
            <a href="{{ .RelPermalink }}" class="nav-link" id="link-mainnav-mobile--{{ .Language.LanguageName }}">{{.Language.LanguageName }}</a>
          </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
    
    <li class="button-item">
      <a href="{{ "/contact/" | relLangURL }}" class="btn btn--cta btn--fullwidth" id="drawer-phone-button">{{ T "contactus" }}</a>
    </li>
    </ul>
</div>