<header>
  <nav class="flex justify-between mw9 center">
    <div class="flex items-center justify-start pa3">
      <a href="{{ "/" | relLangURL }}" class="header-title" id="logo">
        <span></span>
      </a>
        <ul class="list ma0 pl4 dn dib-l inline-flex-l">
          {{- $currentNode := . -}}
          {{ range .Site.Menus.main -}}
            {{ if not .HasChildren }}
              <li class="f5 dib mr4"><a href="{{ .URL | relLangURL }}" id="link-mainnav--{{.Identifier}}" class="nav-link">{{ .Name }}</a></li>
            {{ else }}
              <li class="f5 dib mr4">
                <div class="menu-dropdown">
                  <span class="nav-link has-children mr3">{{ .Name }}</span>
                  <div class="list-container">
                    {{range .Children }}
                      <a href="{{ .URL | relLangURL }}" class="submenu-option" id="link-mainnav--{{.Identifier}}">{{ .Name }}</a>
                    {{ end }}
                  </div>
                </div>
              </li>
            {{ end }}
          {{ end }}
          <li>
            <div class="menu-dropdown">
              <span class="nav-link has-children">{{upper .Lang }}</span>
              <div class="list-container">
                {{range  .Translations }}
                  <a href="{{ .RelPermalink }}" id="link-mainnav--{{.Language.LanguageName}}">{{.Language.LanguageName }}</a>
                {{ end }}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex items-center justify-start">
        <a href="{{ "/contact/" | relLangURL }}" class="btn btn--small btn--cta" id="header-phone-button">{{ T "contactus" }}</a>
        <div class="dn-l">
          <input type="checkbox" name="toggle" id="toggle"/>
          <label for="toggle" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </label>
          {{ partial "drawer.html" . }}
          <a class="nav-link hamburger" id="menu-button" on="tap:sidebar.toggle"></a>
        </div>
        
      </div>
  </nav>
</header>

<!--<header class="header-invert">-->
<!--  <nav class="nav-container">-->
<!--    <div class="left-nav">-->
<!--      <a href="{{ "/" | relLangURL }}" class="header-title" id="logo">-->
<!--        <span></span>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="right-nav">-->
<!--      <div class="nav-items desktop">-->
<!--        <ul class="horizontal-list">-->
<!--          {{- $currentNode := . -}}-->
<!--          {{ range .Site.Menus.main -}}-->
<!--            {{ if not .HasChildren }}-->
<!--              <li><a href="{{ .URL | relLangURL }}" id="link-mainnav--{{.Identifier}}" class="nav-link">{{ .Name }}</a></li>-->
<!--            {{ else }}-->
<!--              <li>-->
<!--                <div class="menu-dropdown">-->
<!--                  <span class="nav-link has-children">{{ .Name }}</span>-->
<!--                  <div class="list-container">-->
<!--                    {{range .Children }}-->
<!--                      <a href="{{ .URL | relLangURL }}" class="submenu-option" id="link-mainnav--{{.Identifier}}">{{ .Name }}</a>-->
<!--                    {{ end }}-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--            {{ end }}-->
<!--          {{ end }}-->
<!--          <li>-->
<!--            <div class="menu-dropdown">-->
<!--              <span class="nav-link has-children">{{upper .Lang }}</span>-->
<!--              <div class="list-container">-->
<!--                {{range  .Translations }}-->
<!--                  <a href="{{ .RelPermalink }}" id="link-mainnav--{{.Language.LanguageName}}">{{.Language.LanguageName }}</a>-->
<!--                {{ end }}-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="desktop">-->
<!--        <a href="{{ "/contact/" | relLangURL }}" class="btn btn--small btn--cta" id="header-phone-button">{{ T "contactus" }}</a>-->
<!--      </div>-->
<!--      <div class="mobile">-->
<!--        <a href="{{ "/contact/" | relLangURL }}" class="btn btn--small btn--cta btn--ghost" id="header-phone-button">{{ T "contactus" }}</a>-->
<!--      </div>-->
<!--      <div class="mobile">-->
<!--        <input type="checkbox" name="toggle" id="toggle"/>-->
<!--        <label for="toggle" class="hamburger">-->
<!--          <span class="line"></span>-->
<!--          <span class="line"></span>-->
<!--          <span class="line"></span>-->
<!--        </label>-->
<!--        {{ partial "drawer.html" . }}-->
<!--        <a class="nav-link hamburger" id="menu-button" on="tap:sidebar.toggle"></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
