
<amp-accordion class="-amp-element -amp-layout-container -amp-layout" id="AMP_114" role="tablist">
    <section>
        {{ if .IsTranslated }}
            <h6 class="current -amp-accordion-header" role="tab" aria-controls="AMP_114_AMP_content_0">
                <a><span>{{ .Language.LanguageName }}</span></a>
            </h6>
        {{ end }}
      <div class="others -amp-accordion-content" role="tabpanel" id="AMP_114_AMP_content_0" aria-expanded="false">
        {{ range .Translations }}
            <div><a href="{{ .RelPermalink }}" ><span>{{ .Language.LanguageName }}</span></a></div>
        {{ end }}
      </div>
    </section>
</amp-accordion>
