<div class="hero-wave">
	<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<linearGradient id="logo-gradient" x1="50%" y1="0%" x2="50%" y2="100%" > 
            <stop offset="0%" id="stop-1"></stop>
            <!--<stop offset="100%" id="stop-2"></stop>-->
        </linearGradient>
		
		<path class="wave" fill="url('#logo-gradient')" vector-effect="non-scaling-stroke"
			d="M0,70 
			C30,50 30,0 100,25
			L100, 0 
			L0,0Z
			" />
		<path class="wave" fill="url('#logo-gradient')" vector-effect="non-scaling-stroke"
			d="M0,80 
			C30,50 30,0 100,30
			L100, 0 
			L0,0Z
			" />
		<path class="wave" fill="url('#logo-gradient')" vector-effect="non-scaling-stroke"
			d="M0,100 
			C30,50 30,0 100,40
			L100, 0 
			L0,0Z
			" />
	</svg>
	<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		
		<path id="gradient" vector-effect="non-scaling-stroke"
			d="M0,40 
			C30,50 30,0 100,20
			L100, 0 
			L0,0Z
			" />
	</svg>
</div>