{{ define "custom_amp_imports" }}
	<!--<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>-->
	<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
{{ end }}
{{ define "body_tag" }}
	<body class="solutions chromebooks">
{{ end }}

{{ define "main" }}
<section class="{{ .Site.Data.classes.section }} pt5 bg-images hero-chromebooks">
	<div class="{{ .Site.Data.classes.section_wrapper_no_spacing }} flex-ns flex-wrap mb6">
		<div class="pv5-l w-50-ns w-100">
			<h1 class="f2 f1-l fw4 lh-title pt2 pb3 pv0-ns tl">{{ .Params.page_title }}</h1>
			<p class="f4 f4-l fw3 lh-title pt2 pb3 w-80-l tl">{{ .Params.page_subtitle | safeHTML}}</p>
		</div>
		<!--<img class="w-50-l bottom-0 w-100" src="/assets/images/gsuite-webstore-min.png">-->
	</div>
</section>

<section class="{{ .Site.Data.classes.section_no_spacing}} pv5-ns">
	<div class="{{ .Site.Data.classes.section_wrapper}} flex-ns flex-wrap pt5">
		{{ range .Params.features }}
	       <div class="{{ $.Site.Data.classes.tc_3_col }}">
	           <h3 class="{{ $.Site.Data.classes.tc_h_u }}">{{ .heading }}</h3>
	           <p class="lh-copy">
	               {{ .copy | safeHTML}}
	           </p>
	       </div>
       {{ end }}
	</div>
</section>

<!--<div class="full top">-->
<!--	<div class="section-max">-->
<!--	    <div class="jumbotron centered">-->
<!--	        <h1 class="centered">{{ .Params.page_title }}</h1>-->
<!--            <p class="centered">{{ .Params.page_subtitle }}</p>-->
<!--	    </div>-->
<!--	</div>-->
<!--	{{ partial "wave.html" }}-->
<!--</div>-->
<!--<div class="full">-->
<!--	<div class="section-max">-->
<!--		<div class="cols-row">-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.integrate_title }}</h3>-->
<!--	    			<p>{{ .Params.integrate_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.sec_title }}</h3>-->
<!--	    			<p>{{ .Params.sec_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.fast_title }}</h3>-->
<!--	    			<p>{{ .Params.fast_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    </div>-->
<!--    </div>-->
<!--</div>-->

<section class="{{ .Site.Data.classes.section}} pv5-ns bg-primary-color-light">
	<div class="{{ .Site.Data.classes.section_wrapper}} flex-ns flex-wrap pt5">
	       <div class="">
	           <h2 class="">{{ .Params.devices_title }}</h2>
	           <p class="lh-copy">
	               
	           </p>
	       </div>
	       <div class="mb4 flex-ns flex-wrap w-100 justify-between">
	       	{{ partial "content/chromebooks-carousel" . }}
	       </div>
	       
	       <div class="mw7 center tc">
	       	<p class="mb4">{{ .Params.devices_text }}</p>
	       <a class="btn btn--cta" href="{{ "/contact/" | relLangURL }}" id="cta-chromebooks--pricing">{{ .Params.devices_cta }}</a>
	       </div>
	       
	</div>
</section>

<!--<div class="full grey-section">-->
<!--	<div class="section-max devices-section">-->
<!--		<div class="section-title-block centered">-->
<!--			<h2>{{ .Params.devices_title }}</h2>-->
			
<!--		</div>-->
		

<!--	<div class="centered">-->
<!--		<p>&nbsp;</p>-->
<!--	<p>&nbsp;</p>-->
<!--	</div>-->
<!--    </div>-->
    
<!--</div>-->
<!--<div class="full ">-->
<!--	<div class="section-max">-->
<!--		<div class="section-title-block">-->
<!--			<h2>{{ .Params.feature_text }}</h2>-->
<!--			<ul class="check-list">-->
<!--				{{ range .Params.chrome_features }}-->
<!--				 <li> {{ . }}</li>-->
<!--				{{ end }}-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<section class="{{ .Site.Data.classes.section_no_spacing}} pv5-ns">
	<div class="{{ .Site.Data.classes.section_wrapper}} flex-ns flex-wrap pt5">
		{{ range .Params.segments }}
	       <div class="{{ $.Site.Data.classes.tc_3_col }}">
	       	<svg class="svg-icon circled">{{ partial "svg-sprite" .icon }}</svg>
	           <h3 class="{{ $.Site.Data.classes.tc_h_u }}">{{ .heading }}</h3>
	           <p class="lh-copy">
	               {{ .copy | safeHTML}}
	           </p>
	       </div>
       {{ end }}
	</div>
</section>

<!--<div class="full">-->
<!--	<div class="section-max">-->
<!--		<div class="cols-row no-spacing">-->
<!--			<div class="col col-l-4 col-s-4">-->
<!--				<div class="theme--block chromebooks-segments">-->
<!--					<h3>{{ .Params.business_features_title }}</h3>-->
<!--					<p>{{ .Params.business_features_intro }}</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col col-l-4 col-s-4">-->
<!--				<div class="theme--block chromebooks-segments">-->
<!--					<h3>{{ .Params.edu_features_title }}</h3>-->
<!--					<p>{{ .Params.edu_features_intro }}</p>	-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col col-l-4 col-s-4">-->
<!--				<div class="theme--block chromebooks-segments">-->
<!--					<h3>{{ .Params.ngo_features_title }}</h3>-->
<!--					<p>{{ .Params.ngo_features_intro }}</p>	-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="full blue-section">-->
<!--	<div class="section-max">-->
<!--		<div class="section-title-block centered">-->
<!--    		<h2 class="section-title">{{ .Params.ready_cta_title }}</h2>-->
<!--    		<p class="section-subtitle">{{ .Params.ready_cta_intro }}</p>-->
<!--    		<p>&nbsp;</p>-->
<!--    		<a class="btn btn--cta btn--light" href="{{ "/contact/" | relLangURL }}" id="cta-chromebooks--contact">{{ .Params.ready_cta_action }}</a>-->
<!--    	</div>-->
<!--    </div>-->
<!--</div>-->

<section class="{{ .Site.Data.classes.section_no_spacing}} pv5-ns bg-primary-color-dark white">
	<div class="{{ .Site.Data.classes.section_wrapper}} flex-ns flex-wrap pt5">
		<div class="w-100 w-40-l">
			<div class="w-90-ns pb5">
				<img class="img" src="/assets/images/google-certified-associate-g-suite-administrator.png" />
			</div>
		</div>

		<div class="w-100 w-60-l">
			<div class="w-80-ns tl">
				<h2 class="lh-title pt0-l">{{ .Params.why_loyall_title }}</h2>
				{{ range .Params.why_loyall_intro }}
					<p class="tj-ns">{{ . }}</p>
				{{ end }}
				<div class="pv4">
    				<a href="{{ "/contact/" | relLangURL }}" class="btn btn--cta green" id="cta-hero--get-pricing">{{ T "consult" | safeHTML}}</a>
    			</div>
				<!--<a class="btn btn--cta mt4" href="{{ " /why-loyall/ " | relLangURL }}" id="cta-home--more_services">{{ .Params.meet_cfa }}</a>-->
			</div>
		</div>
	</div>
</section>
<!--<div class="full">-->
<!--	<div class="section-max">-->
<!--		<div class="section-title-block">-->
<!--    		<h2 class="section-title">{{ .Params.why_loyall_title }}</h2>-->
<!--        	{{ .Params.why_loyall_intro}}-->
<!--    	</div>-->
<!--    	<div class="cols-row">-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.change_title }}</h3>-->
<!--	    			<p>{{ .Params.change_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.tech_title }}</h3>-->
<!--	    			<p>{{ .Params.tech_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.train_title }}</h3>-->
<!--	    			<p>{{ .Params.train_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    </div>-->
<!--	</div>-->
<!--</div>-->
{{ end }}