{{ define "custom_amp_imports" }}
	<!--<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>-->
{{ end }}
{{ define "body_tag" }}
	<body class="solutions gsuite">
{{ end }}

{{ define "main" }}
<section class="{{ .Site.Data.classes.section_no_spacing }} pt5">
	<div class="{{ .Site.Data.classes.section_wrapper_no_spacing }} flex-ns flex-wrap relative">
		<div class="pv5-l w-50-l w-100">
			<h1 class="f2 f1-l fw4 lh-title pt2 pb3 pv0-ns tl">{{ .Params.page_title }}</h1>
			<p class="f4 f4-l fw3 lh-title pt2 pb3 w-80-l tl">{{ .Params.page_subtitle | safeHTML}}</p>
		</div>
		<img class="w-50-l bottom-0 w-100" src="/assets/images/gsuite-webstore-min.png">
	</div>
</section>

<section class="{{ .Site.Data.classes.section_no_spacing}} bg-primary-color-light pv5-ns">
	<div class="{{ .Site.Data.classes.section_wrapper}} flex-ns flex-wrap relative pt5">
		{{ range .Params.features }}
	       <div class="mb5 mb4-ns w-33-ns w-100 pr4-ns">
	           <h3 class="f3 b mv3 u">{{ .heading }}</h3>
	           <p class="lh-copy">
	               {{ .copy | safeHTML}}
	           </p>
	       </div>
       {{ end }}
	</div>
</section>

<section class="{{ .Site.Data.classes.section}} pv5-ns">
	<div class="{{ .Site.Data.classes.section_wrapper_no_spacing}} flex-ns flex-wrap relative pt5">
		{{ range .Params.plans }}
	       <div class="mb5 mb4-ns w-33-l w-100 pr5-ns">
	           <h3 class="f5 b f4-ns mv3 pt3 bt bw2 b--green">{{ .heading }}</h3>
	           <div class="flex pb4">{{ .pricing | safeHTML}}</div>
	           <p class="f6 lh-copy">
	               {{ .copy | safeHTML}}
	           </p>
	           <ul class="dn-l pv3 pricing-list">
	           	{{ range .features }}
	           		<li class="f6 lh-text plan-item pv1">{{ . | safeHTML}}</li>
	           	{{ end }}
	           </ul>
	           <p class="f7 i dn-l">{{ i18n "pricing_note" .link | safeHTML}}</p>
	       </div>
       {{ end }}
	</div>
	<div class="{{ .Site.Data.classes.section_wrapper_no_spacing}} flex-ns flex-wrap relative dn-m dn">
		{{ range .Params.plans }}
	       <div class="mb5 mb4-ns w-33-l w-100 pr5-ns">
	           <ul class="pv3 pricing-list">
	           	{{ range .features }}
	           		<li class="f6 lh-text plan-item pv1">{{ . | safeHTML}}</li>
	           	{{ end }}
	           </ul>
	           <p class="f7 i">{{ i18n "pricing_note" .link | safeHTML}}</p>
	       </div>
       {{ end }}
	</div>
</section>
<!--<div class="full grey-section">-->
<!--	<div class="section-max">-->
<!--		<div class="cols-row flex flow pricing-grid">-->
<!--			<div class="col col-l-4">-->
<!--				<div class="box pricing-plan">-->
<!--					<div class="title-block">-->
<!--						<h3>{{ .Params.business_features_title }}</h3>-->
<!--						<p class="pricing">{{ .Params.business_features_pricing }}</p>-->
<!--						<p>{{ .Params.business_features_intro }}</p>-->
<!--					</div>-->
<!--					<div class="features-block">-->
<!--						<ul class="check-list solutions-features">-->
<!--							{{ partial "list" .Params.base_features_list }}-->
<!--			        		{{ partial "list" .Params.business_features_list }}-->
<!--			        	</ul>-->
<!--			        	<p>{{ i18n "pricing_note" .Params.business_link | safeHTML}}</p>-->
<!--			        </div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col col-l-4">-->
<!--				<div class="box pricing-plan">-->
<!--					<div class="title-block">-->
<!--						<h3>{{ .Params.edu_features_title }}</h3>-->
<!--						<p class="pricing">{{ .Params.edu_features_pricing }}</p>-->
<!--						<p>{{ .Params.edu_features_intro }}</p>-->
<!--					</div>-->
<!--					<div class="features-block">-->
<!--						<ul class="check-list solutions-features">-->
<!--							{{ partial "list" .Params.base_features_list }}-->
<!--			        		{{ partial "list" .Params.edu_features_list }}-->
<!--			        	</ul>-->
<!--		        		<p>{{ i18n "pricing_note" .Params.edu_link | safeHTML}}</p>-->
<!--		        	</div>-->
<!--		        </div>-->
<!--			</div>-->
<!--			<div class="col col-l-4">-->
<!--				<div class="box pricing-plan">-->
<!--					<div class="title-block">-->
<!--						<h3>{{ .Params.ngo_features_title }}</h3>-->
<!--						<p class="pricing">{{ .Params.ngo_features_pricing }}</p>-->
<!--						<p>{{ .Params.ngo_features_intro }}</p>-->
<!--					</div>-->
<!--					<div class="features-block">-->
<!--						<ul class="check-list solutions-features">-->
<!--							{{ partial "list" .Params.base_features_list }}-->
<!--			        		{{ partial "list" .Params.ngo_features_list }}-->
<!--		        		</ul>-->
<!--		        		<p>{{ i18n "pricing_note" .Params.ngo_link | safeHTML}}</p>-->
<!--					</div>-->
<!--		        </div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="full blue-section">-->
<!--	<div class="section-max">-->
<!--	    <div class="section-title-block centered">-->
<!--	    	<h2>{{ .Params.integrate }}</h2>-->
	    	<!--<a class="go-button transparent" href="{{ "/contact/" | relLangURL }}">{{ .Params.trial_cta }}</a>-->
<!--	    </div>-->
<!--    </div>-->
<!--    <amp-img-->
<!--	    	  src="/assets/images/gsuite-webstore-min.png"-->
<!--	    	  width="800"-->
<!--	    	  height="416"-->
<!--	    	  layout="responsive"-->
<!--	    	  class="gsuite-webstore-image">-->
<!--	    	</amp-img>-->
<!--</div>-->

<!--<div class="full">-->
<!--	<div class="section-max">-->
<!--			<div class="cols-row">-->
<!--				<div class="col col-l-7">-->
<!--					<h2 class="section-title">{{ .Params.why_loyall_title }}</h2>-->
<!--        			<p class="section-subtitle">{{ .Params.why_loyall_intro | safeHTML}}</p>-->
<!--				</div>	-->
<!--				<div class="col col-l-5 vertical-center">-->
<!--					<div class="box shadow cert-box">-->
<!--					<amp-img-->
<!--					class=""-->
<!--					src="/assets/images/gsuite-admin.jpeg"-->
<!--					width="172"-->
<!--					height="76"-->
<!--					layout="responsive"-->
<!--				>-->
<!--				</amp-img>-->
<!--					</div>-->
				
<!--				</div>-->
<!--			</div>-->
    		
<!--    	<div class="cols-row">-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.change_title }}</h3>-->
<!--	    			<p>{{ .Params.change_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.tech_title }}</h3>-->
<!--	    			<p>{{ .Params.tech_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    	<div class="col col-l-4 col-s-4">-->
<!--	    		<div class="theme--block why-loyall">-->
<!--	    			<h3>{{ .Params.train_title }}</h3>-->
<!--	    			<p>{{ .Params.train_text }}</p>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    </div>-->
<!--	</div>-->
<!--</div>-->

<section class="{{ .Site.Data.classes.section }} center bg-accent-color">
	<div class="{{ .Site.Data.classes.section_wrapper }} flex-ns flex-wrap v-mid">
		<div class="w-100 w-50-l pa5-l pb5">
			<amp-img src="/assets/images/chromebook-600-min.png" width="600" height="360" layout="responsive"></amp-img>
		</div>
		<div class="w-100 w-50-l pa5-l text-on-primary-color">
			<h2 class="mb4 text-on-primary-color">{{ .Params.already_title }}</h2>
			<p class="mb4 f4">{{ .Params.already_intro }}</p>
			<ul class=" mb4">
				{{ range .Params.already_list }}
				<li class="mb2">{{ . }}</li>
				{{ end }}
			</ul>
			<a class="btn btn--cta mb5" href="{{ "/contact/" | relLangURL }}" id="cta-privatecloud--contact">{{ .Params.already_cta }}</a>
		</div>
	</div>
</section>
{{ end }}