{{ define "body_tag" }}
	<body class="solutions cloud">
{{ end }}

{{ define "main" }}


<section class="{{ .Site.Data.classes.section }} center">
  <div class="{{ .Site.Data.classes.section_wrapper }} flex-ns flex-wrap v-mid">
  	<div class="lh-title w-100 w-40-ns mb6-ns mr5-ns">
  		<h2 class="mb4">{{ .Params.page_title }}</h2>
  		<p class="f4 f4-l fw3 lh-title pt2 pb3 w-80-l tl">{{ .Params.intro }}</p>
	    <a class="btn btn--cta mb5" href="{{ "/contact/" | relLangURL }}" id="cta-privatecloud--contact">{{ .Params.contact_cta }}</a>
	</div>
   	<div class="w-100 w-40-ns">
   	{{ range .Params.features }}
       <div class="mb5 mb4-ns">
           <h3 class="f5 f4-ns mv3">{{ .heading }}</h3>
           <p class="lh-copy">
               {{ .copy | safeHTML}}
           </p>
       </div>
       {{ end }}
   </div>
  </div>
</section>
{{ end }}