{{ define "main" }}

<section class="hero ph4 tc bg-images {{ .Params.bg_image }} darken pv5-ns">
	<div class="center pb4 pb6-l ph4-l pt3 pt6-ns w-90 w-60-l">
		<h1 class="f2 f1-l fw4 white-90 m0 lh-title pt2 pb3 pv0-ns">{{ .Params.page_title }}</h1>
		<p class="center f4 f4-l fw3 white-90 m0 lh-title pt2 pb3 w-80-l">{{ .Params.page_subtitle | safeHTML}}</p>
	</div>
</section>
<section class="{{ .Site.Data.classes.section }} center">
	<div class="{{ .Site.Data.classes.section_wrapper }} flex flex-wrap center">
		<div class="w-100 w-60-ns mr3 order-2">
			
			<div class="mb5 nested-copy-line-height">
				<h3 class="f4 b">{{ i18n "challenge" }}</h3>
				<p class="db v-mid w-100 mb0-l">{{ .Params.challenge | safeHTML}}</p>	
			</div>
			<div class="mb5 nested-copy-line-height">
				<h3 class="f4 b">{{ i18n "solution" }}</h3>
				<p class="db v-mid w-100 mb0-l">{{ .Params.solution | safeHTML}}</p>	
			</div>
			<div class="mb5 nested-copy-line-height">
				<h3 class="f4 b">{{ i18n "results" }}</h3>
				<p class="db v-mid w-100 mb0-l">{{ .Params.result | safeHTML}}</p>	
			</div>
				<div>
				<p><strong>{{ T "related" }}: </strong><br>
					{{ $RelPermalink := .RelPermalink }}
					{{ range where .Site.Pages "Type" "==" "case" }}
						{{ if ne .RelPermalink $.RelPermalink }}
							<a href="{{ .RelPermalink }}" id="link-case--{{ .Params.css_class }}">{{ .Params.page_title }}</a><br>
						{{ end }}
					{{ end }}
				</p>
			</div>	
		</div>
		<div class="w-100 w-30-ns mb5 nested-copy-line-height  order-1 order-3-ns">
			<div class="bl-ns b--light-gray pl4-ns">
				<div class="w-100 tc pb1 dn db-ns">
					<img src="/assets/images/clients/{{ .Params.logo }}" class="bg-near-white bw5">
				</div>
				<h3 class="f4 b">{{ i18n "client" }}</h3>
				<p class="f6-ns w-100 mb0-l">{{ .Params.client | safeHTML}}</p>
			</div>
		
		</div>
		
	</div>
</section>



<!-- <div class="full top {{ .Params.css_class }}">-->
<!--	<div class="section-max">-->
<!--	    <div class="page-title-block centered">-->
<!--	        <h1>{{ .Params.page_title }}</h1>-->
<!--            <p>{{ .Params.page_subtitle }}</p>-->
<!--	    </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="full top {{ .Params.css_class }}">-->
<!--	<div class="section-max">-->
<!--	    <div class="jumbotron centered">-->
<!--	        <h1 class="centered">{{ .Params.page_title }}</h1>-->
<!--            <p class="centered">{{ .Params.page_subtitle }}</p>-->
<!--	    </div>-->
<!--	</div>-->
<!--</div>-->

<!--{{ if .Params.testim_text }}-->
<!--<div class="full grey-section">-->
<!--	<div class="section-max">-->
<!--		<div class="cols-row middle">-->
<!--			<div class="col col-l-2 centered">-->
<!--				<div class="circle-image">-->
<!--	                <img-->
<!--                        alt="Profile photo Bernadette Kaba at the Ecole Vinet"-->
<!--                        class="profile-photo"-->
<!--                        src="/assets/images/profile-bernadette.jpg"-->
<!--                        />-->
<!--	            </div>-->
<!--				<amp-img-->
<!--                    alt="Profile photo Bernadette Kaba at the Ecole Vinet"-->
<!--                    class="circle-image profile-photo"-->
<!--                    src="/assets/images/profile-bernadette.jpg"-->
<!--                    height="200"-->
<!--                    width="200"></amp-img>-->
<!--			</div>-->
<!--			<div class="col col-l-10 blockquote">-->
<!--				<p class="quote">{{ .Params.testim_text }}</p>-->
<!--				<p>&mdash;&nbsp;{{ .Params.testim_name }}</p>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--{{ end }}-->
<!--<div class="full">-->
<!--	<div class="section-max">-->
		
	
    <!--</div>-->
<!--</div>-->
{{ end }}