{{ define "main" }}

<div class="full top">
	<div class="section-max">
	    <div class="page-title-block centered">
	        <h1>Oops!</h1>
            <p>This page does not exist!</p>
            <br><br><br>
            <a class="btn btn--cta" href="/">Take me back to home</a>
            <br><br><br><br><br><br><br><br><br>
	    </div>
    </div>
</div>
{{ end }}