{{ define "custom_amp_imports" }}
	<!--<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>-->
{{ end }}

{{ define "body_tag" }}
	<body class="home">
{{ end }}

{{ define "main" }}
<section class="hero tc bg-images flex flex-column">
	<div class="center mv6 w-90 w-60-l self-start">
		<h1 class="f2 f1-l fw6 white-90 m0 lh-title pv3">{{ .Params.jumbotron }}</h1>
		<p class="center f3 f3-l fw4 white-90 m0 lh-title pv3 w-80-l">{{ .Params.jumbotron_subtitle | safeHTML}}</p>
    	<div class="pt4">
    		<a href="{{ "/contact/" | relLangURL }}" class="btn btn--cta green" id="cta-hero--get-pricing">{{ T "consult" | safeHTML}}</a>
    	</div>
	</div>
	<div class="solutions-row w-100">
		<div class="flex w-100 w-70-l center mw9 justify-center self-end">
		<a href="{{ "/solutions/g-suite/" | relLangURL}}" class="link light-gray f6 w-50 w-50-m w-33-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns v-mid ">
			<img src="/assets/images/logo--gsuite.png" class="" />
		</a>
		<a href="{{ "/solutions/chromebooks/" | relLangURL}}" class="link lh-copy light-gray f6 w-50 w-50-m w-33-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns v-mid  ">
			<img src="/assets/images/logo--chromebook.png" class="" />
		</a>
		<a href="{{ "/solutions/private-cloud/" | relLangURL}}" class="dn db-ns link lh-copy light-gray f6 w-50 w-50-m w-33-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns v-mid">
			<img src="/assets/images/logo--privatecloud.png" class="" />
		</a>
		<!--<a class="link lh-copy light-gray f6 w-100 w-50-m w-25-l bg-animate hover-bg-accent-color hover-white pv3 pv4-ns ph3 ph4-ns dib">asd</a>-->
		<!--<a class="link lh-copy light-gray f6 w-100 w-50-m w-25-l bg-animate hover-bg-accent-color hover-white pv3 pv4-ns ph3 ph4-ns dib">asd</a>-->
	</div>
		</div>

</section>
<!--<section class="{{ .Site.Data.classes.section_no_spacing }} bg-primary-color-light center tc">-->
<!--	<div class="flex w-100 w-70-l center mw9 justify-center">-->
		
		<!--{{ range .Site.Data.solutions.solutions }}-->
		<!--		<a href="{{ .url | relLangURL}}" class=" link lh-copy light-gray f6 w-50 w-50-m w-33-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns dib v-mid center">-->
		<!--	<img src="/assets/images/{{ .logo }}" class=" h2 mv3" /></a>-->
		<!--</a>-->
		<!--{{ end }}-->
		<!--<a class="link lh-copy light-gray f6 w-100 w-50-m w-25-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns dib v-mid flex h">Solutions</a>-->
<!--		<a href="{{ "/solutions/g-suite/" | relLangURL}}" class="link lh-copy light-gray f6 w-50 w-50-m w-33-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns v-mid flex">-->
<!--			<img src="/assets/images/logo--gsuite.svg" class="h3 mv3" />-->
<!--		</a>-->
<!--		<a href="{{ "/solutions/chromebooks/" | relLangURL}}" class="link lh-copy light-gray f6 w-50 w-50-m w-33-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns v-mid flex ">-->
<!--			<img src="/assets/images/logo--chrome.svg" class="h3 mv3" />-->
<!--		</a>-->
<!--		<a href="{{ "/solutions/private-cloud/" | relLangURL}}" class="dn db-ns link lh-copy light-gray f6 w-50 w-50-m w-33-l bg-animate hover-bg-primary-color-dark hover-white ph3 ph4-ns v-mid">-->
<!--			<img src="/assets/images/logo--privatecloud.svg" class="h3 mv3" />-->
<!--		</a>-->
		<!--<a class="link lh-copy light-gray f6 w-100 w-50-m w-25-l bg-animate hover-bg-accent-color hover-white pv3 pv4-ns ph3 ph4-ns dib">asd</a>-->
		<!--<a class="link lh-copy light-gray f6 w-100 w-50-m w-25-l bg-animate hover-bg-accent-color hover-white pv3 pv4-ns ph3 ph4-ns dib">asd</a>-->
<!--	</div>-->
<!--</section>-->
<!--<div class="hero">-->
<!--	<div class="section-max">-->
		<!--<div class="jumbotron centered fadeInUp animated">-->
<!--		<div class="jumbotron centered">-->
<!--			<h1 class="jumbotron-title centered">{{ .Params.jumbotron }}</h1>-->
<!--        	<p class="jumbotron-subtitle centered">{{ .Params.jumbotron_subtitle | safeHTML}}</p>-->
<!--        	<div>-->
<!--        		<a href="{{ "/contact/" | relLangURL }}" class="btn btn--cta green" id="cta-hero--get-pricing">{{ .Params.jumbotron_cfa | safeHTML}}</a>-->
<!--        	</div>-->
<!--		</div>-->
<!--	</div>-->
	<!--{{ partial "wave.html" }}-->
<!--</div>-->
<section class="{{ .Site.Data.classes.section }}">
	{{ partial "home-page/feature-icons.html" . }}
</section>

<section class="{{ .Site.Data.classes.section }} bg-primary-color-light">
	{{ partial "home-page/solutions.html" . }}
</section>

{{ partial "home-page/loyall.html" . }}


{{ end }}