    {{ $src := .Get "image" }}
    {{ $imageID :=  replace $src "." "_" }}
        <figure class="mv4">
            <a href='{{.Site.Params.gstatic }}/assets/articles/{{ $src }}'>
            <amp-img 
                media="(min-width: 769px)"
                on="tap:{{ $imageID | safeJS}}"
                role="button"
                src='{{.Site.Params.gstatic }}/assets/articles/{{ $src }}' 
                width='{{ .Get "width" }}'
                height='{{ .Get "height" }}'
                class='{{ .Get "class" }}'
                layout='responsive'>
            </amp-img>
            <amp-img 
                media="(max-width: 768px)"
                src='{{.Site.Params.gstatic }}/assets/articles/{{ $src }}' 
                width='{{ .Get "width" }}'
                height='{{ .Get "height" }}'
                class='{{ .Get "class" }}'
                layout='responsive'>
            </amp-img>
            </a>
            <figcaption class="f6 gray i mt3">{{ .Get "caption" }}</figcaption>
        </figure>
