{{ define "body_tag" }}
	<body class="case-studies">
{{ end }}

{{ define "main" }}

<section class="{{ .Site.Data.classes.section }} center">
  <div class="{{ .Site.Data.classes.section_wrapper }} flex flex-wrap">
  	<h2 class="lh-title w-100">{{ .Params.page_title }}</h2>
       {{ range .Params.cases }}
       <div class="w-100 w-50-m w-30-l ph2 pb3">
       <a href="{{ .url | relLangURL }}" title="{{ T "case_study"}} {{ .heading }}" class="card black h-100">
           <!--<div class="br2 ba dark-gray b--black-10 w-100">-->
               <div class="bg-images {{ .bg_image }} w100 h5 mb1"></div>
               <div class="pb3-ns pa3">
                   <h3 class="card-title">{{ .heading }}</h3>
                   <p class="lh-copy f6">
                       {{ .copy | safeHTML}}
                   </p>
               </div>
           <!--</div>-->
       </a>
       </div>
        {{ end }}
  </div>
</section>

{{ end }}
