{{ define "custom_amp_imports" }}
	<!--<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>-->
    <!--<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{ end }}

{{ define "body_tag" }}
	<body class="contact">
{{ end }}

{{ define "main" }}

<section class="{{ .Site.Data.classes.section }} center">
  <div class="{{ .Site.Data.classes.section_wrapper }}">
  	<!--<h2 class="lh-title">{{ .Params.page_title }}</h2>-->
  	<div class="shadow contact-card">
  	    <!--<div class="left">-->
  	        
  	    <!--</div>-->
  	    <div class="right">
  	        <h2>
  	            {{ T "contact_info" }}
  	            <p>&nbsp;</p>
  	        </h2>
  	        <div class="theme--block inline">
  	            <i class="material-icons pt3">location_on</i>
  	            <p class="">{{ .Site.Params.primaryAddress | safeHTML}}</p>
  	        </div>
  	        <div class="theme--block inline">
  	            <i class="material-icons pt3">phone</i>
  	            <p><a href="tel:{{.Site.Params.primaryPhone }}" id="link-contact--call">{{ .Site.Params.prettyPrimaryPhone | safeHTML}}</a></p>
  	        </div>
  	        <div class="theme--block inline">
  	            <i class="material-icons pt3">mail</i>
  	            <p><a href="mailto:{{ .Site.Params.primaryEmail | safeHTML}}" id="link-contact--mailto">{{ .Site.Params.primaryEmail | safeHTML}}</a></p>
  	        </div>
  	    </div>
  	    <div class="left">
  	       <h2>
  	            {{ T "send_us_message" }}
  	        </h2>
  	        {{ partial "amp-form" . }}
  	    </div>
  	</div>
  </div>
</section>
<script>
    var $contactForm = $('#contact-form');
$contactForm.submit(function(e) {
	e.preventDefault();
	$.ajax({
		url: '//formspree.io/hello@loyall.ch',
		method: 'POST',
		data: $(this).serialize(),
		dataType: 'json',
		beforeSend: function() {
			$contactForm.append('<div class="alert alert--loading">Sending message…</div>');
		},
		success: function(data) {
			$contactForm.find('.alert--loading').hide();
			$contactForm.append('<div class="amp-form-submit-success"><p class="text-block">{{ i18n "form_success" | safeHTML}}</p></div>');
			$contactForm[0].reset();
		},
		error: function(err) {
			$contactForm.find('.alert--loading').hide();
			$contactForm.append('<div class="amp-form-submit-error" ><p class="text-block">{{ i18n "form_failure" | safeHTML}}</p></div>');
		}
	});
});
</script>
{{ end }}