{{ define "body_tag" }}
<body class="lab">
{{ end }}
{{ define "main" }}

<section class="{{ .Site.Data.classes.section }} center">
  <div class="{{ .Site.Data.classes.section_wrapper }} flex-ns flex-wrap">
    {{ range $index, $element := .Data.Pages.ByDate.Reverse }} 
        {{ if (eq $index 0) }}
        <div class="w-60-l {{ .Site.Data.classes.article_card }}">
          {{ .Render "article-card"}}
        </div>
        {{ else }}
            <div class="w-30-l {{ .Site.Data.classes.article_card }}">
              {{ .Render "article-card"}}
            </div>
        {{ end }} 
    {{ end }}
  </div>
</section>



<!--<div class="full top thin">-->
<!--	<div class="section-max">-->
<!--	    <div class="jumbotron centered">-->
	        <!--<h1 class="centered">{{ .Params.page_title }}</h1>-->
            <!--<p class="centered">{{ .Params.page_subtitle }}</p>-->
<!--	    </div>-->
<!--	</div>-->
<!--	{{ partial "wave.html" }}-->
<!--</div>-->

<!--<div class="full">-->
<!--    <div class="section-max">-->
<!--        <div class="cols-row no-spacing">-->
<!--            <div class="col col-l-8 headline">-->
<!--                {{ range first 1 .Data.Pages.ByDate.Reverse }} {{ .Render "article-card"}} {{ end }}-->
<!--            </div>-->
<!--            <div class="col col-l-4">-->
                <!--{{ range $index, $element := .Data.Pages.ByDate.Reverse }} -->
                <!--    {{ if (eq $index 1) }}-->
                <!--        {{ .Render "article-card"}}-->
                <!--    {{ else }}-->
                        
                <!--    {{ end }} -->
                <!--{{ end }}-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="cols-row no-spacing left">-->
<!--            {{ range $index, $element := .Data.Pages.ByDate.Reverse }} -->
<!--                {{ if (gt $index 1) }}-->
<!--                    <div class="col col-l-4">-->
<!--                        {{ .Render "article-card"}}-->
<!--                    </div>-->
                        
<!--                    {{ else }}-->
                        
<!--                    {{ end }} -->
<!--                {{ end }}-->
<!--        </div>-->
        
<!--    </div>-->
<!--</div>-->

<div class="full">
    <div class="section-max">
        
    </div>
</div>
{{ end }}