{{ define "custom_amp_imports"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="NWZiYTJmZmYtYjYxMy00ZmE3LWFhYWYtYTUyYTk4NmZhNzA1NjM2NjQwNzczMTQ3MTEzMTgz" id="snipcart"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />

{{ end }}


{{ define "body_tag" }}
<body class="lab">
{{ end }}
{{ define "main" }}


<section class="{{ .Site.Data.classes.section }} center bg-near-white">
  <div class="{{ .Site.Data.classes.section_wrapper }} flex-ns flex-wrap">
    
    <amp-list width="auto"
  height="100"
  layout="fixed-height"
  src="data/items.json"
  class="m1">
  <template type="amp-mustache"
    id="amp-template-id">
    <div>
      <a href="">{{ "{{mfg}}" }}</a>
    </div>
  </template>
</amp-list>
    {{ $url := "data/products.json" }}
    {{ $dataJ := getJSON $url }}

    {{ range $dataJ }}
    	{{ partial "content/product-card" . }}
    {{ end }}

  </div>
</section>


{{ end }}