{{ define "body_tag" }}
	<body class="why-loyall">
{{ end }}

{{ define "main" }}


<section class="tc bg-images hero-whyloyall relative flex flex-column">
	<div class="center mv4 mv5-ns w-90 w-60-l self-start">
		<h1 class="f2 f1-l fw6 m0 lh-title pv3">{{ .Params.page_title }}</h1>
		<p class="center f3 f3-l fw4 m0 lh-title pv3 w-80-l mb6">{{ .Params.page_subtitle | safeHTML}}</p>
	</div>
</section>

<section class="{{ .Site.Data.classes.section }} center">
    <div class="{{ .Site.Data.classes.section_wrapper }}">
        <!--<h2 id="process" class="anchor tc-ns mt4">{{ .Params.services_title }}</h2>-->
        <div class=" flex-ns flex-wrap justify-center center mw9">
    		{{ range .Params.usps }}
    		<div class="w-100 w-30-l pv5-l nested-copy-line-height">
    			<div class="flex-l flex-wrap justify-between">
    				<div class="flex-auto tl-ns w-100 w-90-ns pl4-ns">
    					<h3 class="f3 b u">{{ .heading }}</h3>
    					<p class="db v-mid w-100 measure-wide mb5 mb0-l">{{ .copy }}</p>
    				</div>
    			</div>
    		</div>
    		{{ end }}
    	</div>
    </div>
</section>

<section class="{{ .Site.Data.classes.section }} center bg-accent-color">
  <div class="{{ .Site.Data.classes.section_wrapper }} flex-ns flex-wrap">
       {{ range .Params.segments }}
       <div class="br2 bg-white w-100 w-30-l mb3 mr3">
           <!--<img src="/assets/images/{{ .image }}" class="db w-100 br2 br--top">-->
           <div class="bg-images {{ .bg_image }} w100 h5"></div>
           <div class="pa4">
               <h3 class="f4 b f4-ns mv3">{{ .heading }}</h3>
               <p class="lh-copy gray">
                   {{ .copy }}
               </p>
           </div>
       </div>
        {{ end }}
  </div>
</section>

<section class="{{ .Site.Data.classes.section }} center bg-primary-color-light">
    <div class="{{ .Site.Data.classes.section_wrapper }}">
        <h2 id="process" class="anchor tc-ns mt4">{{ .Params.services_title }}</h2>
        <div class=" flex-ns flex-wrap justify-center center mw9">
            
    		{{ range .Params.services }}
    		<div class="w-100 w-50-ns pv5-l nested-copy-line-height">
    			<div class="flex-l flex-wrap justify-between">
    				<!--<div class="flex-auto center w-100 w-10-ns pt1 mb3">-->
    				<!--	<svg class="svg-icon">{{ partial "svg-sprite" .icon }}</svg>-->
    				<!--</div>-->
    				<div class="flex-auto tl-ns w-100 w-90-ns pl4-ns">
    					<h3 class="f3 b u">{{ .heading }}</h3>
    					<p class="db v-mid w-100 measure-wide mb5 mb0-l">{{ .copy }}</p>
    				</div>
    			</div>
    		</div>
    		{{ end }}
    	</div>
    </div>
</section>

<section class="{{ .Site.Data.classes.section }} center">
    <div class="{{ .Site.Data.classes.section_wrapper }}">
        <h2 id="meet-the-loyall-team" class="anchor mt4">{{ .Params.team_title }}</h2>
            <div class="flex flex-wrap mw9">
        	  {{ range .Params.team }}
               <div class="w-100 w-40-ns mr4-ns mb4 card black mw6 ">
                       <div class="w-100 tc pt4 pb1">
                         <img src="{{ .image }}" class="bg-near-white bw5 br-100 w4 dib">
                       </div>
                       <div class="pb3-ns ph4 pb4 center">
                           <h3 class="card-title tc b">{{ .name }}</h3>
                           <p class="f6 gray tc">{{ .title | upper }}</p>
                           <p class="lh-copy f6 dark-gray">
                               {{ with .copy }}{{ . | safeHTML}}{{ end }}
                           </p>
                           <div class="pt3">
    					    <a href="{{ .linkedin }}" class="icon linkedin" target="_blank" id="link-whyloyall--linkedin"></a>
                            </div>
                       </div>
               </div>
            {{ end }}
	    </div>
        
        
        
        
        
     <!--   <div class=" flex-ns flex-wrap justify-center center mw9">-->
    	<!--	{{ range .Params.team }}-->
    	<!--	<div class="w-100 pv5-l nested-copy-line-height">-->
    	<!--		<div class="flex-l flex-wrap justify-between">-->
    	<!--			<div class="flex-auto center tc w-50 w-10-l pt1 mb3">-->
     <!--                   <img-->
     <!--                       alt="{{ .image_alt }}"-->
     <!--                       class="br-100 w4"-->
     <!--                       src="{{ .image }}"/>-->
    	<!--			</div>-->
    	<!--			<div class="flex-auto tl-l w-100 w-90-l ph5-l mb5">-->
    	<!--				<h3 class="f4 b">{{ .name }}</h3>-->
    	<!--				<p class="f4">{{ .title }}</p>-->
    	<!--				<p class="db v-mid tj w-90-l">{{ with .copy }}{{ . | safeHTML}}{{ end }}</p>-->
    					
    	<!--			</div>-->
    	<!--		</div>-->
    	<!--	</div>-->
    	<!--	{{ end }}-->
    	<!--</div>-->
    </div>
</section>
{{ end }}