{{ define "custom_amp_imports" }}
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
<script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>


{{ end }}

{{ define "main" }}

<section class="{{ .Site.Data.classes.section }} center">
  <div class="{{ .Site.Data.classes.section_wrapper_store }} flex-ns flex-wrap">
    <div class="w-100 w-60-ns center tc">
        <!--<img src="{{ .Params.cover_image }}" >-->
        <!--<amp-img alt="A view of the sea"-->
        <!--  src="{{ .Params.cover_image }}"-->
        <!--  width="1"-->
        <!--  height="1"-->
        <!--  layout="responsive">-->
        <!--</amp-img>-->

<!--    -->
<amp-carousel id="carousel-with-preview" controls
    width="400"
    height="300"
    layout="responsive"
    [slide]="selectedSlide"
    on="slideChange:AMP.setState({selectedSlide: event.index})"
    type="slides">
    
    {{ range .Params.images }}
      <amp-img src="{{ . }}"
        width="400"
        height="300"
        layout="responsive"
        alt="a sample image"></amp-img>
    {{ end }}
    
    <!--<amp-img src="https://unsplash.it/400/300?image=10"-->
    <!--  width="400"-->
    <!--  height="300"-->
    <!--  layout="responsive"-->
    <!--  alt="a sample image"></amp-img>-->
    <!--<amp-img src="https://unsplash.it/400/300?image=11"-->
    <!--  width="400"-->
    <!--  height="300"-->
    <!--  layout="responsive"-->
    <!--  alt="a sample image"></amp-img>-->
    <!--<amp-img src="https://unsplash.it/400/300?image=12"-->
    <!--  width="400"-->
    <!--  height="300"-->
    <!--  layout="responsive"-->
    <!--  alt="a sample image"></amp-img>-->
    <!--<amp-img src="https://unsplash.it/400/300?image=13"-->
    <!--  width="400"-->
    <!--  height="300"-->
    <!--  layout="responsive"-->
    <!--  alt="a sample image"></amp-img>-->
  </amp-carousel>
  <div class="carousel-preview">
    {{ range $index, $element := .Params.images }}
       <button on="tap:carousel-with-preview.goToSlide(index={{$index}})"
            class="w4 bg-white bw0 ">
          <amp-img src="{{$element}}"
            width="60"
            height="40"
            layout="responsive"
            [class]="selectedSlide == {{$index}} ? 'selected' : ''"
            alt="a sample image"></amp-img>
        </button>
    {{ end }}
  </div>

<!--  -->
        
        
    </div>
    <div class="w-100 w-40-ns pl6-ns">
        <div class="">
            <p class="fw3 f5 lh-title">
                {{ .Params.mfg }}
            </p>
            <h1 class="fw8 f2 mb4 lh-solid mt1 black">{{ .Params.name }}</h1>
            <p class="fw6 f2 black">{{ .Params.price }}.-</p>
            <!--<p>{{ .Params.summary }}</p>-->
            <hr class="mv3">
            <div class="f6">
                {{ with .Params.options }}
                    {{ range . }}
                        {{ . }}
                    {{ end }}
                {{ end }}
            </div>
            <div>
                <button
                    class="snipcart-add-item btn btn--cta tc center w-100"
                    data-item-id="{{ .Params.id }}"
                    data-item-name="{{ .Params.model }}"
                    data-item-price="{{ .Params.price }}"
                    data-item-url="/"
                    data-item-description="{{ .Params.summary }}">
                    Add to cart
                </button>
            </div>
            
        </div>
    </div>
  </div>
</section>

{{ end }}